*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* HEADER */
header{
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background-color: black;
  color: white;
}


.setting_screen, .fullscreen{
  background-color: grey;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  height: 28%;
  cursor: pointer;

}

/* MAIN */
main{
  height: calc( 100vh - 200px);
  background-color: black;
  overflow: auto;
}

/* contenitore delle cam */
.cell_cam{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

/* Caratteristica delle cam */
.cam{
  position: relative;
  display: inline-block;
  padding: 5px 0px;
}

/* Nome della persona in cam */
.name_cam{
  position: absolute;
  bottom: 10px;
  left:0;
  color: white;
  background-color: rgba(41, 37, 38, 0.5);
  padding: 3px;
}

.cam img{
  width: 150px;
  height: 130px;
}

/* Footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #232123;
  color: white;
}

/* Sezione sinistra del footer */
.left_footer, .center_footer{
  text-align: center;
}

.left_footer ul, .center_footer ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.left_footer ul li, .center_footer ul li{
  display: inline-block;
  padding: 10px;
  list-style: none;
}

.left_footer ul li:nth-child(odd) i, .center_footer ul li i{
  display: block;
  font-size: 30px;
  padding: 5px;
}

#arrow i {
  display: block;
  font-size: 15px;
}

/* Sezione centrale del footer */
.center_footer{
  min-width: 40%;
}

.center_footer ul li:nth-child(4){
  color: rgb(33, 201, 0);
}

/* Sezione destra del Footer */
.right_footer{
  background-color: #4B4A4C;
  height: 100%;
}
.right_footer > p{
  padding: 10px;
  line-height: 5;
  color: red;
}
